* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

.left, .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
  border: 1px solid #333;
}
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Stack vertically */
    height: auto; /* Allow the page to grow as long as needed */
  }

  .left, .right {
    flex-basis: auto; /* Reset the 50% split */
    width: 100%;
    height: 500px; /* Give each box a fixed height on mobile so they scroll */
  }
}


.left {
  background-color: rgb(11, 1, 1);
  padding-top: 0%;
  position: relative;
  overflow:auto;
  display: flex;
  flex-direction: column;
}
.code{
  width: 100%;

}



.review{
  position:sticky ;
  z-index: 10;
  bottom:1rem;
  margin-left: auto;
  margin-right: 1.5rem;
  right:1rem;
  background-color: rgb(106, 106, 162);
  color: rgb(0, 0, 0);
  border-radius: 0.7rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-weight:500;
  user-Select:none;
}

.right {
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  font-size:1.2rem;
  overflow:auto;
}
@media (max-width: 480px) {
  .right {
    font-size: 1rem; /* Smaller text for very small phones */
    padding: 1rem;   /* Reduce padding to save space */
  }
  
  .review {
    padding: 0.5rem 1rem; /* Make button slightly smaller */
    font-size: 0.9rem;
  }
}


/*
pre{
  width: 100%;
  height: 100%;
 margin:0px;
  border-radius: 0.7rem;
background-color: rgb(0, 0, 0);
}

.left .code, .code pre, .code > pre > code{
  height:100%;
  width:100%;
  margin:0;
  background-color: #0b0a0a;;
} */

